<template>
  <panel-item :field="displayValue" />
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
    computed: {
        displayValue: function () {
            this.field.value = this.field.value.substring(0,10);
            return this.field;
        }
    }
}
</script>
