  <template>
  <default-field :field="field" :errors="errors">
    <template slot="field">
      <input
        :id="field.name"
        type="text"
        class="w-full form-control form-input form-input-bordered"
        :class="errorClasses"
        :placeholder="field.name"
        v-model="value"
      />
    </template>
  </default-field>
</template>
<script> 

import { FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],
    data(){
        return{
            value:'',
            previousLength: 0,
            previousValue: ''
        }
    },
    watch: {
        value (value) {
            if(this.value.length>0 && this.value.length<=10 && (value.charAt(value.length-1)>='0'&& value.charAt(value.length-1)<='9' || value.charAt(value.length-1)=='-' )){
      
                if(value.length==4 && this.previousLength==3 || value.length==7 && this.previousLength==6){
                    this.value=value+'-'
                    this.previousLength=value.length;
                    this.previousValue = this.value
                    return
                }
                this.previousLength=value.length;
                this.previousValue = this.value;
            }else if(value.length==0){
                this.previousLength=value.length;
                this.previousValue=''
                return
            }
            else{
                 this.value = this.previousValue
                   return
            }
        }
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            this.value = this.field.value || ''
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            //this.$toasted.show('It worked!', { type: 'success' })

            formData.append(this.field.attribute, this.value || '')
        },

        inputOnChange(){
            //console.log("this value", this.value)
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            
            this.value = value + " "
        },
    },
}
</script> 



