<template>
  <div>
    <span v-if="field.extraAttributes.colored">
      <span v-if="setColor==='green'">{{ displayValue}}</span>
      <span style="font-weight:bold" v-else-if="setColor==='blue'">
        <font color="blue">{{ displayValue}}</font>
      </span>
      <span style="font-weight:bold" v-else-if="setColor==='orange'">
        <font color="orange">{{ displayValue}}</font>
      </span>
      <span style="font-weight:bold" v-else-if="setColor==='red'">
        <font color="red">{{ displayValue}}</font>
      </span>
    </span>
    <span v-else>{{ displayValue}}</span>
  </div>
</template>

<script>
export default {
    props: ['resourceName', 'field'],
    computed: {
        displayValue: function () {
           if(this.field!=null && this.field.value!=null){
                return this.field.value.substring(0,10)
           }else{
               return ""
           }
        },
        setColor: function(){
            var today = new Date()
            var expire = new Date(this.field.value)
            var Difference_In_Days = (expire - today) / (1000 * 3600 * 24)
            if(this.field.extraAttributes.isVisa==true){
              if(Difference_In_Days > 90){
                  return 'green'
              }else if (Difference_In_Days <= 90 && Difference_In_Days >0) {
                  return 'blue'
              }else if (Difference_In_Days <= 0 && Difference_In_Days > -90) {
                  return 'orange'
              }else{
                  return 'red'
              }
            }else{
              if(Difference_In_Days > 180){
                  return 'green'
              }else if (Difference_In_Days <= 180 && Difference_In_Days >90) {
                  return 'blue'
              }else if (Difference_In_Days <= 90 && Difference_In_Days > 0) {
                  return 'orange'
              }else{
                  return 'red'
              }
            }
        }

    }

}

</script>
