<template>
  <default-field :field="field" :errors="errors">
    <template slot="field">
      <input
        :id="field.name"
        type="text"
        class="w-full form-control form-input form-input-bordered"
        :class="errorClasses"
        :placeholder="field.name"
        v-model="value"
      />
    </template>
  </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],
    data(){
            return{
                value:'',
                priviousLength: 0
            }
        },
    watch: {
        value (value) {
            console.log('value: ', value, ' length: ', value.length, ' previousLength: ', this.priviousLength)
            if(value.length>0 && value.length<=11 && (value.charAt(value.length-1)>='0'&& value.charAt(value.length-1)<='9' || value.charAt(value.length-1)=='-' )){
      
                if(value.length==3 && this.priviousLength==2 || value.length==7 && this.priviousLength==6){
                    this.value=value+'-'
                    this.priviousLength=value.length;

                    return
                }else if(value.length==4 && this.priviousLength==5 || value.length==7 && this.priviousLength==8){
                this.value = value.substring(0,value.length-1)
                this.priviousLength = this.value.length
                }
                this.priviousLength=value.length;
            }else if(value.length==0){
                this.priviousLength=value.length;
                return
            }else{
                 this.value = value.substring(0,value.length-1)
                   return
            }
        }
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            this.value = this.field.value || ''
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, this.value || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = value
        },
    },
}
</script>
