<template>
  <span>{{ displayValue }}</span>
</template>

<script>
export default {
    props: ['resourceName', 'field'],
    computed: {
        displayValue: function () {
           if(this.field.value==null || this.field.value==0){
                return "$----"
           }else{
               var twoPlacedFloat = parseFloat(this.field.value).toFixed(2)
               console.log(twoPlacedFloat)
               var result = '$' + twoPlacedFloat.toString()
               return result
           }
        }
    }
}
</script>
