<template>
  <default-field
    :field="field"
    :errors="errors"
  >
    <template slot="field">
      <select-control
        v-if="!isSearchable || isLocked || isReadonly"
        class="form-control form-select mb-3 w-full"
        :class="{ 'border-danger': hasError }"
        :data-testid="`${field.resourceName}-select`"
        :dusk="field.attribute"
        @change="selectResourceFromSelectControl"
        :disabled="isLocked || isReadonly"
        :options="availableResources"
        :value="selectedResourceId"
        :selected="selectedResourceId"
        label="display"
      >
        <option
          value=""
          selected
          :disabled="!field.nullable"
        >&mdash;</option>
      </select-control>
    </template>
  </default-field>
</template>

<script>
import { TogglesTrashed, FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
  mixins: [TogglesTrashed, HandlesValidationErrors],
  props: {
    resourceName: String,
    resourceId: {},
    field: Object,
    viaResource: {},
    viaResourceId: {},
    viaRelationship: {},
  },

  data: () => ({
    availableResources: [],
    initializingWithExistingResource: false,
    selectedResource: null,
    selectedResourceId: null,
    softDeletes: false,
    withTrashed: false,
    search: '',
    currentDepartmentId: 0,
  }),


  /**
   * Mount the component.
   */
  mounted () {
    this.initializeComponent()
    Nova.$on('update:deparment', departmentId => {
      this.currentDepartmentId = departmentId;
      this.getAvailableResources()
    })
  },

  methods: {
    initializeComponent () {
      this.withTrashed = false

      // If a user is editing an existing resource with this relation
      // we'll have a belongsToId on the field, and we should prefill
      // that resource in this field
      if (this.editingExistingResource) {
        this.initializingWithExistingResource = true
        this.selectedResourceId = this.field.belongsToId
      }

      // If the user is creating this resource via a related resource's index
      // page we'll have a viaResource and viaResourceId in the params and
      // should prefill the resource in this field with that information
      if (this.creatingViaRelatedResource) {
        this.initializingWithExistingResource = true
        this.selectedResourceId = this.viaResourceId
      }

      if (this.shouldSelectInitialResource && !this.isSearchable) {
        // If we should select the initial resource but the field is not
        // searchable we should load all of the available resources into the
        // field first and select the initial option
        this.initializingWithExistingResource = false
        this.getAvailableResources().then(() => this.selectInitialResource())
      } else if (this.shouldSelectInitialResource && this.isSearchable) {
        // If we should select the initial resource and the field is
        // searchable, we won't load all the resources but we will select
        // the initial option
        this.getAvailableResources().then(() => this.selectInitialResource())
      } else if (!this.shouldSelectInitialResource && !this.isSearchable) {
        // If we don't need to select an initial resource because the user
        // came to create a resource directly and there's no parent resource,
        // and the field is searchable we'll just load all of the resources
        this.getAvailableResources()
      }

      this.determineIfSoftDeletes(this.field.resourceName)

      this.field.fill = this.fill
    },

    /**
     * Select a resource using the <select> control
     */
    selectResourceFromSelectControl (e) {
      this.selectedResourceId = e.target.value
      this.selectInitialResource()
    },

    /**
     * Fill the forms formData with details from this field
     */
    fill (formData) {
      formData.append(
        this.field.attribute,
        this.selectedResource ? this.selectedResource.value : ''
      )

      formData.append(this.field.attribute + '_trashed', this.withTrashed)
    },


    /**
     * Get the resources that may be related to this resource.
     */
    getAvailableResources () {
      return this
        .fetchAvailableResources(this.resourceName, this.field.attribute, this.queryParams)
        .then(({ data: { resources, softDeletes, withTrashed } }) => {
          if (this.initializingWithExistingResource || !this.isSearchable) {
            this.withTrashed = withTrashed
          }

          // Turn off initializing the existing resource after the first time
          this.initializingWithExistingResource = false
          console.log(resources);
          if (this.currentDepartmentId > 0) {
            var temp = [];
            resources.forEach((item) => {
              if (item.department_id == this.currentDepartmentId) {
                temp.push(item);
              }
            });
            this.availableResources = temp
          } else if (this.selectedResourceId != null) {
            this.selectedResource = _.find(
              resources,
              r => r.value == this.selectedResourceId
            )
            if (this.selectedResource != null || this.selectedResource != undefined) {
              var temp = [];
              resources.forEach((item) => {
                if (item.department_id == this.selectedResource.department_id) {
                  temp.push(item);
                }
              });
              this.availableResources = temp
            } else {
              this.availableResources = [];
            }
          }
          this.softDeletes = softDeletes
        })
    },

    /**
     * Determine if the given value is numeric.
     */
    isNumeric (value) {
      return !isNaN(parseFloat(value)) && isFinite(value)
    },

    /**
     * Select the initial selected resource
     */
    selectInitialResource () {
      this.selectedResource = _.find(
        this.availableResources,
        r => r.value == this.selectedResourceId
      )
    },

    /**
     * Toggle the trashed state of the search
     */
    toggleWithTrashed () {
      this.withTrashed = !this.withTrashed

      // Reload the data if the component doesn't support searching
      if (!this.isSearchable) {
        this.getAvailableResources()
      }
    },

    /*
         * Set the initial, internal value for the field.
         */
    setInitialValue () {
      this.value = this.field.value || ''
    },


    /**
     * Update the field's internal value.
     */
    handleChange (value) {
      this.value = value
    },
    fetchAvailableResources (resourceName, fieldAttribute, params) {
      console.log('--------fetchAvailableResources--------------')
      console.log(resourceName)
      console.log(fieldAttribute)
      console.log(params)
      return Nova.request().get(
        `/nova-api/${resourceName}/associatable/${fieldAttribute}`,
        params
      )
    },

    determineIfSoftDeletes (resourceName) {
      return Nova.request().get(`/nova-api/${resourceName}/soft-deletes`)
    },
  },
  computed: {
    /**
     * Determine if we are editing and existing resource
     */
    editingExistingResource () {
      return Boolean(this.field.belongsToId)
    },

    /**
     * Determine if we are creating a new resource via a parent relation
     */
    creatingViaRelatedResource () {
      return (
        this.viaResource == this.field.resourceName &&
        this.field.reverse &&
        this.viaResourceId
      )
    },

    /**
     * Determine if we should select an initial resource when mounting this field
     */
    shouldSelectInitialResource () {
      return Boolean(this.editingExistingResource || this.creatingViaRelatedResource)
    },

    /**
     * Determine if the related resources is searchable
     */
    isSearchable () {
      return this.field.searchable
    },

    /**
     * Get the query params for getting available resources
     */
    queryParams () {
      return {
        params: {
          current: this.selectedResourceId,
          first: this.initializingWithExistingResource,
          search: this.search,
          withTrashed: this.withTrashed,
          resourceId: this.resourceId,
        },
      }
    },

    isLocked () {
      return this.viaResource == this.field.resourceName && this.field.reverse
    },

    isReadonly () {
      return this.field.readonly || _.get(this.field, 'extraAttributes.readonly')
    },
  },
}
</script>
