<template>
  <default-field :field="field" :errors="errors">
    <template slot="field" class="w-full form-control form-input form-input-bordered">
      <div class="wrapper">
        <select id="areaCode" class="area_code" v-model="areaCode" @change="selectOnChange">
          <option value="+1">+1</option>
          <option value="+86 ">+86</option>
        </select>
        <div class="tel_input_box">
          <input
            :id="field.name"
            type="text"
            class="w-full form-control form-input form-input-bordered"
            :class="errorClasses"
            :placeholder="field.name"
            v-model="value"
          />
        </div>
      </div>
    </template>
  </default-field>
</template>
<style lang="scss" scoped>
.wrapper {
  display: flex;
  .area_code {
    flex: 1;
    border: 1px;
  }
  .tel_input_box {
    margin-left: 5px;
    flex: 9;
  }
}
</style>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
  mixins: [FormField, HandlesValidationErrors],

  props: ['resourceName', 'resourceId', 'field'],
  data () {
    return {
      previousLength: 0,
      areaCode: '+1'
    }
  },
  watch: {
    value (value) {
          if(value.substring(0,2) === '+1'){
          console.log('+1')
          console.log(value)
          value = value.substring(2,value.length)
          this.value = value
          this.previousLength = this.value.length
          this.areaCode = '+1'     
          document.getElementById("areaCode").value = '+1'
        }
        if(value.substring(0,3) === '+86'){
          value = value.substring(4)
          this.value = value
          this.previousLength = this.value.length
          this.areaCode = '+86 '     
          document.getElementById("areaCode").value = '+86 '
        }
      if (value.length < 15 && (value.charAt(value.length - 1) == ')' || value.charAt(value.length - 1) == '(' || value.charAt(value.length - 1) == '-' || value.charAt(value.length - 1) <= '9' && value.charAt(value.length - 1) >= '0')) {
        
        if (document.getElementById("areaCode").value == '+1') {
          if (value.length >= 2 && value.length <= 4 || value.length >= 7 && value.length <= 9 || value.length >= 11) {
            if (value.charAt(value.length - 1) < '0' || value.charAt(value.length - 1) > '9') {
              this.value = value.substring(0, value.length - 1)
            }
          }
          if (value.length == 1 && this.value.charAt(0) == '(') {
            this.previousLength = value.length
            console.log(this.previousLength)
          }
          if (value.length == 1 && value.charAt(0) >= '0' && value.charAt(length - 1) <= '9') {
            this.previousLength = value.length + 1
            this.value = '(' + this.value
          }
          if (value.length == 1 && (value.charAt(0) == ')' || value.charAt(0) == '-' || value.charAt(0) == '(')) {
            this.value = ''
          }

          if (value.length == 4 && this.previousLength == 3) {
            this.value = this.value + ')-'
          }

          if (value.length == 5 && value.charAt(4) >= '0' && value.charAt(4) <= '9') {
            this.value = this.value.substring(0, 4) + ')-' + this.value.charAt(4)
          }
          if (value.length == 5 && (value.charAt(4) == '(' || value.charAt(4) == '-')) {
            console.log('here', this.value.substring(0, 4))
            this.value = this.value.substring(0, 4)
          }
          if (value.length == 5 && this.previousLength == 6) {
            this.value = this.value.substring(0, 4)
          }
          if (value.length == 6 && this.previousLength == 7) {
            this.value = this.value.substring(0, 4)
          }
          if (value.length == 10 && this.previousLength == 11) {
            this.value = this.value.substring(0, 9)
          }

          if (value.length == 9 && this.previousLength == 8) {
            this.value = this.value + '-'
          }
          if (value.length == 10 && value.charAt(9) >= '0' && value.charAt(9) <= '9') {
            this.value = this.value.substring(0, 9) + '-' + this.value.charAt(9)
          }

        } else {// area code = 86
          if (value.length > 13) {
            this.value = value.substring(0, 13)
          }
          if (value.length >= 0 && value.length <= 3 || value.length >= 5 && value.length <= 8 || value.length >= 10 && value.length <= 13) {
            if (value.charAt(value.length - 1) < '0' || value.charAt(value.length - 1) > '9') {
              this.value = value.substring(0, value.length - 1)
            }

          }
          if (value.length == 3 && this.previousLength == 2) {
            this.value = this.value + '-'
          }

          if (value.length == 4 && this.previousLength >= 5) {
            this.value = this.value.substring(0, 3)
          }

          if (value.length == 4 && value.charAt(3) >= '0' && value.charAt(3) <= '9') {
            this.value = this.value.substring(0, 3) + '-' + this.value.charAt(3)
          }

          if (value.length == 8 && this.previousLength == 7) {
            this.value = this.value + '-'
          }

          if (value.length == 9 && this.previousLength >= 10) {
            this.value = this.value.substring(0, 8)
          }
        }
      } else {
        console.log('chopped?')
        this.value = this.value.substring(0, this.value.length - 1)

      }
      this.previousLength = this.value.length

    }
  },

  methods: {
    /*
     * Set the initial, internal value for the field.
     */
    setInitialValue () {
      this.value = this.field.value || ''
    },

    selectOnChange () {
      this.value = ''
      this.previousLength = 0
    },

    /**
     * Fill the given FormData object with the field's internal value.
     */
    fill (formData) {
      var newvalue
      if (this.value.charAt(0) !== '+') {
        newvalue = document.getElementById("areaCode").value + this.value
      } else {
        newvalue = this.value
      }

      console.log(newvalue)
      formData.append(this.field.attribute, newvalue || '')
    },

    /**
     * Update the field's internal value.
     */
    handleChange (value) {
      this.value = value
    },
  },
}
</script>
