<template>
  <div>
    <heading class="mb-6">搜索客户</heading>

    <card v-if="showRoute">
      <div class="overflow-hidden overflow-x-auto relative">
        <table class="table w-full">
          <thead>
            <tr>
              <th>姓名</th>
              <th>出生日期</th>
              <th>护照号码</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input
                  type="text"
                  v-model="name"
                  class="w-full form-control form-input form-input-bordered"
                ></td>
              <td><input
                  type="date"
                  v-model="birthdate"
                  class="w-full form-control form-input form-input-bordered"
                ></td>
              <td><input
                  type="text"
                  v-model="passport"
                  class="w-full form-control form-input form-input-bordered"
                ></td>
              <td><button
                  @click="getData"
                  class="btn btn-default btn-primary"
                >搜索</button></td>
              <td><button
                  @click="createClient()"
                  class="btn btn-default btn-primary"
                  dusk="create-button"
                >创建客户</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
    <card v-if="routes.length">
      <div class="overflow-hidden overflow-x-auto relative">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="text-left">ID</th>
              <th class="text-left">Name</th>
              <th class="text-left">Gender</th>
              <th class="text-left">Birthday</th>
              <th class="text-left">Passport</th>
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="route in routes">
              <td>{{ route.id }}</td>
              <td>{{ route.name }}</td>
              <td>{{ route.gender }}</td>
              <td>{{ route.birthdate }}</td>
              <td>{{ route.passport }}</td>
              <td v-if="resource == 'private-clients'"><a
                  v-bind:href="'/nova-vendor/route-viewer/routes/' + route.id + '/private-clients' "
                  class="btn btn-default btn-primary"
                  dusk="create-button"
                >更新客户</a></td>
              <td v-else><a
                  v-bind:href="'/nova-vendor/route-viewer/routes/' + route.id + '/clients' "
                  class="btn btn-default btn-primary"
                  dusk="create-button"
                >更新客户</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      routes: [],
      showRoute: true,
      name: '',
      birthdate: '',
      passport: '',
      resource: "private-clients"
    }
  },
  mounted () {
    if (this.$route.query['resource'] == "clients") {
      this.resource = "clients";
    }
  },
  methods: {
    createClient () {
      Nova.request().get('/nova-vendor/route-viewer/routes/create', { params: { name: this.name, birthdate: this.birthdate, passport: this.passport, type: this.resource, } }).then(response => {
        this.routes = response.data;
      });
      //this.$router.push("/resources/" + this.resource + "/new?viaResource=&amp;viaResourceId=&amp;viaRelationship=");
    },
    getData () {
      Nova.request().get('/nova-vendor/route-viewer/routes', { params: { name: this.name, birthdate: this.birthdate, passport: this.passport, } }).then(response => {
        this.routes = response.data;
      });
    },
  },
}
</script>