:root {
    --logo: #7e8ea1;
  }

div[data-testid=content] .card>.flex{
    display:inline-block;
    width:33%;
}

div[data-testid=content] .card>.flex>div{
    display:inline-block;
}

div[data-testid=content] .card>.flex>div.w-1\/5{
    width:45%;
    text-align: right;
}

div[data-testid=content] .card>.flex>div.w-3\/4{
    width:70%;
}


.card .px-8{
    padding:0rem;

}

.card .py-6{
    padding:0.5rem 0.4rem;
}